@{
    ViewBag.Title = "Laptop Request Detail";
}
<head>
</head>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans&display=swap" rel="stylesheet">
<body>
    <div class="alert alert-@ViewBag.DetailMessageType" role="alert">
        @ViewBag.DetailMessage
        <div class="float-end">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #0D97EF; color: white;">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Close Laptop Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/Laptop/CloseLaptopRequest" method="post" id="closeForm">
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@ViewBag.requestObject.srPk" name="id">
                        <div class="mb-3">
                            <label class="text-secondary custom-label">Action Taken</label>
                            <textarea type="text" class="form-control" name="actionTaken" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="text-secondary custom-label">Closing Date</label>
                            <input type="date" id="txtDate" onkeypress="javascript: return false;" min="@DateTime.Now.AddDays(-3).ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" name="dateOfClosing" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" form="closeForm">Update Status</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="isLaptopRequiredToggle" aria-hidden="true" aria-labelledby="isLaptopRequiredToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #0D97EF; color: white;">
                    <h5 class="modal-title" id="isLaptopRequiredToggleLabel">Update Laptop Requirement Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/Laptop/UpdateRequest" method="post" id="updateForm">
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@ViewBag.requestObject.srPk" name="id">
                        <div class="mb-3">
                            <label class="text-secondary custom-label">Updated Date</label>
                            <input type="date" id="txtDate" onkeypress="javascript: return false;" min="@DateTime.Now.AddDays(-3).ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" name="laptopUpdatedDate" required>
                        </div>
                        <div class="mb-3">
                            <label class="text-secondary custom-label">Remarks</label>
                            <textarea type="text" class="form-control" name="remarks" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" form="updateForm">Update Request</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #0D97EF; color: white;">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Confirm Close Laptop Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to close this Laptop Request ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">No</button>
                    <button class="btn btn-success" type="submit" form="closeForm">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-5 py-5">
        <div class="card mb-3">
            <div class="card-body">
                <legend>Laptop Request Details - @ViewBag.requestObject.requestType</legend>
                <br />
                <br />
                <div class="row text-wrap">
                    <div class="col-md-3">
                        <span class="text-secondary custom-label">
                            Created Date
                        </span>
                        @if (ViewBag.requestObject.createdDate == null)
                        {
                            <p class="text-primary">NA</p>
                        }
                        else
                        {
                            <p class="text-primary">@ViewBag.requestObject.createdDate.ToString("dd MMM yyyy")</p>
                        }
                    </div>
                    <div class="col-md-3">
                        <span class="text-secondary custom-label">
                            Status
                        </span>
                        @if (ViewBag.requestObject.status == null)
                        {
                            <p class="text-primary">NA</p>
                        }
                        else
                        {
                            <p class="text-primary">@ViewBag.requestObject.status</p>
                        }
                    </div>
                    <div class="col-md-3">
                        <span class="text-secondary custom-label">
                            Request Type
                        </span>
                        @if (ViewBag.requestObject.requestType == null)
                        {
                            <p class="text-primary">NA</p>
                        }
                        else
                        {
                            <p class="text-primary">@ViewBag.requestObject.requestType</p>
                        }
                    </div>
                </div>
                <hr>
                <div class="row text-wrap">
                    <div class="col-md-3">
                        <span class="text-secondary custom-label">
                            Request ID
                        </span>
                        @if (ViewBag.requestObject.srPk == null)
                        {
                            <p class="text-primary">NA</p>
                        }
                        else
                        {
                            <p class="text-primary">@ViewBag.requestObject.srPk</p>
                        }
                    </div>
                    <div class="col-md-3">
                        <span class="text-secondary custom-label">
                            Resource Name
                        </span>
                        @if (ViewBag.requestObject.name == null)
                        {
                            <p class="text-primary">NA</p>
                        }
                        else
                        {
                            <p class="text-primary">@ViewBag.requestObject.name</p>
                        }
                    </div>
                    <div class="col-md-3">
                        <span class="text-secondary custom-label">
                            Resource SAP ID
                        </span>
                        @if (ViewBag.requestObject.sapid == null)
                        {
                            <p class="text-primary">NA</p>
                        }
                        else
                        {
                            <p class="text-primary">@ViewBag.requestObject.sapid</p>
                        }
                    </div>
                    <div class="col-md-3">
                        <span class="text-secondary custom-label">
                            Email ID
                        </span>
                        @if (ViewBag.requestObject.requesterEmailID == null)
                        {
                            <p class="text-primary">NA</p>
                        }
                        else
                        {
                            <p class="text-primary">@ViewBag.requestObject.requesterEmailID</p>
                        }
                    </div>
                </div>
                <hr>
                <div class="row text-wrap">
                    @if (ViewBag.requestObject.requestType == "Break Fix")
                    {
                        <div class="col-md-3">
                            <span class="text-secondary custom-label">
                                Issue Details
                            </span>
                            @if (ViewBag.requestObject.issueDetails == null)
                            {
                                <p class="text-primary">NA</p>
                            }
                            else
                            {
                                <p class="text-primary">@ViewBag.requestObject.issueDetails</p>
                            }
                        </div>
                        <div class="col-md-3">
                            <span class="text-secondary custom-label">
                                Location
                            </span>
                            @if (ViewBag.requestObject.requesterLocation == null)
                            {
                                <p class="text-primary">NA</p>
                            }
                            else
                            {
                                <p class="text-primary">@ViewBag.requestObject.requesterLocation</p>
                            }
                        </div>
                        <div class="col-md-3">
                            <span class="text-secondary custom-label">
                                Type
                            </span>
                            @if (ViewBag.requestObject.replacementType == null)
                            {
                                <p class="text-primary">NA</p>
                            }
                            else
                            {
                                <p class="text-primary">@ViewBag.requestObject.replacementType</p>
                            }
                        </div>
                        <div class="col-md-3">
                            <span class="text-secondary custom-label">
                                Is Laptop Required
                            </span>
                            @if (ViewBag.requestObject.isLaptopRequired == false)
                            {
                                <p class="text-primary">No</p>
                            }
                            else
                            {
                                <p class="text-primary">Yes</p>
                            }
                        </div>
                        if (ViewBag.requestObject.isLaptopRequired == true)
                        {
                            <div class="row text-wrap">
                                <div class="col-md-3">
                                    <span class="text-secondary custom-label">
                                        Laptop Updated Date
                                    </span>
                                    @if (ViewBag.requestObject.laptopUpdatedDate == null)
                                    {
                                        <p class="text-primary">NA</p>
                                    }
                                    else
                                    {
                                        <p class="text-primary">@ViewBag.requestObject.laptopUpdatedDate.ToString("dd/MM/yyyy")</p>
                                    }
                                </div>
                                <div class="col-md-3">
                                    <span class="text-secondary custom-label">
                                        Remarks
                                    </span>
                                    @if (ViewBag.requestObject.remarks == null)
                                    {
                                        <p class="text-primary">NA</p>
                                    }
                                    else
                                    {
                                        <p class="text-primary">@ViewBag.requestObject.remarks</p>
                                    }
                                </div>
                            </div>
                        }

                    }
                    else if (ViewBag.requestObject.requestType == "Moving To Onshore / Offshore")
                    {
                        <div class="col-md-3">
                            <span class="text-secondary custom-label">
                                Date Of Travel
                            </span>
                            @if (ViewBag.requestObject.dateOfTravel == null)
                            {
                                <p class="text-primary">NA</p>
                            }
                            else
                            {
                                <p class="text-primary">@Convert.ToDateTime(ViewBag.requestObject.dateOfTravel, ViewBag.cult).ToString("dd/MM/yyyy")</p>
                            }
                        </div>
                        <div class="col-md-3">
                            <span class="text-secondary custom-label">
                                From Location
                            </span>
                            @if (ViewBag.requestObject.fromLocation == null)
                            {
                                <p class="text-primary">NA</p>
                            }
                            else
                            {
                                <p class="text-primary">@ViewBag.requestObject.fromLocation</p>
                            }
                        </div>
                        <div class="col-md-3">
                            <span class="text-secondary custom-label">
                                To Location
                            </span>
                            @if (ViewBag.requestObject.toLocation == null)
                            {
                                <p class="text-primary">NA</p>
                            }
                            else
                            {
                                <p class="text-primary">@ViewBag.requestObject.toLocation</p>
                            }
                        </div>
                        <div class="col-md-3">
                            <span class="text-secondary custom-label">
                                Laptop Type
                            </span>
                            @if (ViewBag.requestObject.laptopType == null)
                            {
                                <p class="text-primary">NA</p>
                            }
                            else
                            {
                                <p class="text-primary">@ViewBag.requestObject.laptopType</p>
                            }
                        </div>

                    }
                    <div class="col-md-3">
                        <span class="text-secondary custom-label">
                            Action Taken
                        </span>
                        @if (ViewBag.requestObject.actionTaken == null)
                        {
                            <p class="text-primary">NA</p>
                        }
                        else
                        {
                            <p class="text-primary">@ViewBag.requestObject.actionTaken</p>
                        }
                    </div>
                    <div class="col-md-3">
                        <span class="text-secondary custom-label">
                            Date Of Closing
                        </span>
                        @if (ViewBag.requestObject.dateOfClosing == null)
                        {
                            <p class="text-primary">NA</p>
                        }
                        else
                        {
                            <p class="text-primary">@Convert.ToDateTime(ViewBag.requestObject.dateOfClosing, ViewBag.cult).ToString("dd/MM/yyyy")</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-bar w-100 d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" onclick="javascript: window.history.back();" type="button">Back</button>
            @if ((ViewBag.requestObject.requestType == "Break Fix") && (ViewBag.requestObject.isLaptopRequired == false))
            {
                <button class="btn btn-success justify-content-md-end" type="button" data-bs-toggle="modal" data-bs-target="#isLaptopRequiredToggle">Update Laptop Requirement</button>
            }
            @if (ViewBag.requestObject.status != "Closed")
            {
                <button class="btn btn-danger justify-content-md-end" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Close Request</button>
            }
        </div>
        <script src="~/Scripts/jquery-3.6.0.min.js"></script>
        <script>
            $('#closeModal').on('shown.bs.modal', function () {
                $('#submitBtn').focus();
            })
        </script>
        <script src="~/Scripts/Popper.js"></script>
</body>